@use "../../components/styles/tokens/color" as color;
@use "../../components/styles/tokens/typografy" as font;

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  height: 80vh;

  //  font-mono font-bold text-4xl
  .titulo {
    color: color.$color-white;
    margin-bottom: 40px;
    font-family: font.$font-family;
    font-weight: 600;
  }
  .subtitulo {
    color: color.$color-white;
    font-size: 1.2rem;
    font-family: font.$font-family;
    font-weight: 600;
  }
  .space {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px 25px 40px 25px;
    border-radius: 2rem;
    background-color: #1a0a5b;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 280px;

    .input-nome {
      color: color.$color-white;
      border-bottom: 2px solid rgb(82, 86, 95);
      margin: 28px 0px 0px 0px;
      padding: 8px 12px 8px 12px;
      outline: none;
      border-radius: 4px;
      background-color: rgba(11, 2, 2, 0.359);
      &:focus {
        border-color: #143dc3;
      }
      &:hover {
        border-color: #143dc3;
      }
    }

    .input-senha {
      color: color.$color-white;
      border-bottom: 2px solid rgb(82, 86, 95);
      margin: 24px 0px 0px 0px;
      padding: 8px 12px 8px 12px;
      border-radius: 4px;
      background-color: rgba(11, 2, 2, 0.359);
      outline: none;
      &:focus {
        border-color: #143dc3;
      }
      &:hover {
        border-color: #143dc3;
      }
    }
  }
}
