.login-page {
  .titulo {
    color: white;
    margin-bottom: 40px;
  }
  .subtitulo {
    color: white;
    font-size: 1.2rem;
  }
  .space {
    padding: 20px 25px 40px 25px;
    border-radius: 2rem;
    background-color: #1a0a5b;
  }
  .form {
    width: 280px;

    .input-nome {
      color: white;
      border-bottom: 2px solid rgb(82, 86, 95);
      margin: 28px 0px 0px 0px;
      padding: 8px 12px 8px 12px;
      outline: none;
      border-radius: 4px;
      background-color: rgba(11, 2, 2, 0.359);
      &:focus {
        border-color: #143dc3;
      }
      &:hover {
        border-color: #143dc3;
      }
    }

    .input-senha {
      color: white;
      border-bottom: 2px solid rgb(82, 86, 95);
      margin: 24px 0px 0px 0px;
      padding: 8px 12px 8px 12px;
      border-radius: 4px;
      background-color: rgba(11, 2, 2, 0.359);
      outline: none;
      &:focus {
        border-color: #143dc3;
      }
      &:hover {
        border-color: #143dc3;
      }
    }
    .button {
      margin-top: 32px;
      background: linear-gradient(
        to right,
        // aplica o gradiente da esquerda pra direita
        #143dc3,
        #a377fb
      );
      color: white; // texto visível sobre o gradiente
      padding: 12px 16px;
      border: none;
      border-radius: 28px;
      cursor: pointer;
      font-weight: bold;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.03);
        background: linear-gradient(
          to right,
          // aplica o gradiente da esquerda pra direita
          #156ff8,
          #5831f6
        );
      }
    }
  }
}
